{% extends "index.html" %}

{% block content %}
<div class="line">
  <div class="header">
    <a href="#"><h1 class="logo">RawPlanner</h1></a>
    <form>
      <div class="form-group">
        <input type="text" class="form-control input_text" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </form>
    <ul class="header_menu">
      <li><a href="#">서비스 소개</a></li>
      <li><a href="#">데이터 검색</a></li>
    </ul>
  </div>
</div>
{% endblock %}