<!--index.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <section class="head">
        <div class="line">
            <div class="container">
                <div class="header">
                    <a href="/"><h1 class="logo">RawPlanner</h1></a>
                    <div class="form">
                        <div class="form-group">
                            <input type="text" class="form-control input_text" id="header_search_data" aria-describedby="emailHelp">
                        </div>
                        <button id="head_search_btn" class="btn head_search_btn">검색</button>
                    </div>
                    <ul class="header_menu">
                        <li><a href="/service">서비스 소개</a></li>
                        <li><a href="/search">데이터 검색</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="line">
            <div class="container">
                <br><br>
                <h1>RawPlanner?</h1>
                <br><br><br><br><br><br><br><br>
                <h1>Why RawPlanner?</h1>
                <br><br><br><br><br><br><br><br>
            </div>
        </div>
        <div class="line">
            <div class="container">
                <br><br>
                <h1>RawPlanner?</h1>
                <br><br><br><br><br><br><br><br>
                <h1>Why RawPlanner?</h1>
                <br><br><br><br><br><br><br><br>
            </div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>